html, body {
  height: 100%;
}

div {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  height: 100%;
  min-width: 300px;
}

@media (min-width: 500px) {
  .App {
    flex-direction: row;
    align-items: center;
  }
}

.fretboard {
  min-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  min-height: 500px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.fretboard__strings {
  flex: 1 0 auto;
  flex-direction: row;
  position: relative;
}

.fretboard__markers {
  position: absolute;
  right: 100%;
  margin-right: 10px;
  height: 100%;
}

@media (min-width: 500px) {
  .fretboard {
    min-height: auto;
    align-items: stretch;
  }

  .fretboard__markers {
    position: relative;
    right: auto;
    height: auto;
    margin-right: 0;
    margin-top: 10px;
  }

  .fretboard__strings {
    flex-direction: column;
  }
}

.u-flex-direction-row {
  flex-direction: row;
}

.u-flex-none {
  flex: none;
}

.u-align-items-center {
  align-items: center;
}

.nav {
  padding: 10px;
}

@media (min-width: 500px) {
  .nav {
    padding: 0 20px 20px 20px;
  }
}

.u-display-none {
  display: none;
}

.u-margin-R {
  margin-right: 10px;
}
